USE [master]
GO
/****** Object:  Database [sale_manage]    Script Date: 4/10/2022 01:11:35 ******/
CREATE DATABASE [sale_manage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sale_manage', FILENAME = N'D:\app\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sale_manage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sale_manage_log', FILENAME = N'D:\app\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sale_manage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sale_manage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sale_manage]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 4/10/2022 01:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[bill_id] [int] NOT NULL,
	[customer_id] [nvarchar](10) NOT NULL,
	[time] [datetime] NOT NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_DETAIL]    Script Date: 4/10/2022 01:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_DETAIL](
	[bill_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_BILL_DETAIL] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 4/10/2022 01:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[customer_id] [nvarchar](10) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 4/10/2022 01:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([product_id], [product_name], [category], [brand], [price]) VALUES (1, N'a', N'a', N'a', 10)
INSERT [dbo].[PRODUCT] ([product_id], [product_name], [category], [brand], [price]) VALUES (2, N'b', N'b', N'b', 20)
INSERT [dbo].[PRODUCT] ([product_id], [product_name], [category], [brand], [price]) VALUES (3, N'c', N'c', N'c', 30)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CUSTOMER]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_BILL] FOREIGN KEY([bill_id])
REFERENCES [dbo].[BILL] ([bill_id])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_BILL]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_PRODUCT]
GO
USE [master]
GO
